.unscroll {
  overflow-y: hidden;
  height: 100vh;

  > div {
    transition: margin-top 300ms ease-in-out;
  }
}

.switcher {
  position: fixed;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}
