@import 'colors';

.footer {
  border-top: 2px solid $background-secondary;
  color: $text-secondary;
  text-align: center;
  font-size: 0.9em;

  .copy {
    padding: 5em 1.5em;
  }

  &.home {

    .copy {
      padding: 3em 1.5em;
    }
  }
}
