@import 'colors';
@import 'mixins';

.page {
  .meta {
    padding: 3em 0;

    h1 {
      font-size: 4em;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 1.8em;
      margin: 0;
      padding: 0;
    }

    @include break-at-second {
      padding: 2em 0;
      text-align: center;

      h1 {
        font-size: 2.5em;
      }

      h2 {
        font-size: 1.4em;
      }
    }
  }

  .contents {
    background: $background-lighter;
    padding: 3em 0;
  }
}
