@import 'colors';
@import 'mixins';

.siteHeader {
  background: $background-primary;
  padding: .7em 2em;

  @include break-at-second {
    padding: .7em 1em;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    img {
      width: 32px;
      margin-right: 0.5em;
    }

    span {
      font-size: 1.4em;
      font-weight: 700;
    }

    @include break-at-second {
      display: inline-block;

      img, span {
        vertical-align: middle;
      }
    }
  }

  .logoImage{
    border-radius: 4px;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .mainnav {
    overflow: hidden;

    @include break-at-second {
      font-size: 0;
      opacity: 0;
      background: lighten($background-primary, 15%);
      margin-top: 1em;
      transition: font-size 350ms 125ms linear,
                  opacity 125ms linear;

      &.opened {
        font-size: initial;
        opacity: 1;

        transition: font-size 125ms linear,
                    opacity 350ms 125ms linear;
      }
    }
  }

  .hamburger {
    display: none;
    font-size: 1.5em;
    padding: 0.5em 1em;
    position: absolute;
    top: 0;
    right: 0;

    @include break-at-second {
      display: block;
    }
  }
}
