.spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 0;
  border: 4px solid #000;
  border-top-color: transparent !important;
  border-radius: 100%;
  animation: spin 1s infinite linear;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
