@import 'colors';
@import 'mixins';

.overlay {
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;

  backdrop-filter: blur(5px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  max-width: 90vw;
  max-height: 90vh;
  min-width: 50vw;

  background: $background-primary;
  overflow: auto;

  box-sizing: border-box;
  padding: 1em 2em;
  border-radius: 5px;

  @include break-at-main {
    min-width: 70vw;
  }

  @include break-at-second {
    max-height: none;
    max-width: none;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: none;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    cursor: pointer;
    background: $background-secondary;
    border-radius: 100%;

    &:hover {
      color: darken($text-primary, 20%);
    }
  }
}
