@import 'colors';

.project {
  width: calc(340px - 2em);
  box-sizing: border-box;
  background: $background-primary;

  .image {
    img {
      max-width: 100%;
    }
  }

  .info {
    padding: 1.5em;

    h2, h3 {
      padding: 0;
      margin: 0;
    }

    h3 {
      font-weight: 300;
    }

    .links {
      text-align: center;
      font-size: 1.5em;

      a {
        display: inline-block;
        margin: 10px;
      }
    }

    .underDevelopment {
      color: $text-secondary;
      font-size: 1.2em;
      text-align: center;
    }
  }
}
