@import 'colors';
@import 'globals';
@import 'mixins';

.project {
  width: calc(#{$main-width / 3} - 2em);
  box-sizing: border-box;
  background: $background-primary;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  margin-right: 2em;
  margin-bottom: 2em;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include break-at-main {
    width: calc(#{$second-width / 2} - 2em);

    &:nth-child(3n) {
      margin-right: 2em;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include break-at-second {
    width: auto;
    margin-bottom: 2em;
    margin-right: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .image {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .info {
    padding: 1.5em;

    h2, h3 {
      padding: 0;
      margin: 0;
    }

    h3 {
      font-weight: 300;
    }

    .description {
      color: $text-secondary;
    }

    .links {
      text-align: center;
      font-size: 1.5em;

      a {
        display: inline-block;
        margin: 10px;
      }
    }

    .underDevelopment {
      color: $text-secondary;
      font-size: 1.2em;
      text-align: center;
    }
  }
}
