@import './colors';
@import './fonts';
@import './globals';
@import './mixins';

body {
  margin: 0;
  font: 16px / 1.6 'Roboto', sans-serif;
  background: $background-primary;
  color: $text-primary;
}

.mid {
  width: $main-width;
  margin: 0 auto;

  @include break-at-main {
    width: $second-width;
  }

  @include break-at-second {
    width: auto;
    margin: 0 1em;
  }
}

a {
  text-decoration: none;
  color: $text-secondary;
  transition: color 150ms linear;

  &:hover {
    color: $text-primary;
  }
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include break-at-second {
    &.header-flex {
      display: block;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: darken($text-primary, 10%);
}

::-webkit-scrollbar-thumb:hover {
  background: $text-primary;
}

::-webkit-scrollbar-thumb:active {
  background: $text-secondary;
}

::-webkit-scrollbar-track {
  background: $background-secondary;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: $text-primary;
  color: $background-primary;
}

@keyframes jiggle {
  0%, 100% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }
}

form {
  .jiggle {
    animation: jiggle 100ms infinite;
  }

  .form-error {
    color: $error-red;
    vertical-align: middle;

    @include break-at-second {
      display: block;
      margin-top: 1em;
    }
  }
}

.input-group {
  margin-bottom: 1.5em;
}

label, input, textarea {
  display: block;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  font: 16px / 1.6 'Roboto', sans-serif;
  padding: 0.8em 1em;
  background: $background-primary;
  color: $text-primary;
  border-radius: 5px;

  .secondary-colors & {
    background: $background-secondary;
  }
}

textarea {
  resize: none;
  height: 200px;
}

button {
  font: 16px / 1.6 'Roboto', sans-serif;
  border: 0;
  background: $background-primary;
  color: $text-primary;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.6em 3em;
  border-radius: 5px;
  cursor: pointer;

  transition: background 150ms linear;

  &:hover {
    background: lighten($background-primary, 5%);
  }

  &[type="submit"], &.primary {
    background: $action-button;

    &:hover {
      background: darken($action-button, 10%);
    }
  }

  &.single-button {
    margin-right: 1em;

    @include break-at-second {
      margin-right: 0;
    }
  }
}

.input-group.buttons {
  @include break-at-second {
    text-align: center;
  }
}

.dropzone {
  font-size: 0.9em;
  padding: 1em;
  text-align: center;
  background: $background-primary;
  border-radius: 5px;
  cursor: pointer;

  .secondary-colors & {
    background: $background-secondary;
  }

  svg {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}
