$background-primary: #000;
$background-secondary: #353535;
$background-lighter: #1e1e1e;
$text-primary: #f8f9fa;
$text-secondary: #757277;
$text-high-contrast: #fff;
$action-button: #007bff;

$error-red: #f44336;

$gray-gradient-from: #5f5f5f;
$gray-gradient-to: #aaa;
$gray-gradient: linear-gradient(90deg, $gray-gradient-from 0%, $gray-gradient-to 100%);
