$background-primary: #000;
$background-secondary: #353535;
$background-lighter: #1e1e1e;
$text-primary: #f8f9fa;
$text-secondary: #757277;
$text-high-contrast: #fff;
$action-button: #007bff;

$error-red: #f44336;
