@import 'colors';
@import 'mixins';

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

.container {
  text-align: center;
  user-select: none;
}

.title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 6em;

  @include break-at-second {
    font-size: 4em;
  }
}

.slogan {
  font-size: 1.8em;
  white-space: nowrap;
  color: $text-secondary;
  font-weight: 300;
  letter-spacing: .5rem;
  color: $text-secondary;
  background:
    $text-secondary
    -webkit-gradient(
      linear,
      100% 0,
      0 0,
      from($text-secondary),
      color-stop(0.5, $text-primary),
      to($text-secondary)
    );
  background-repeat: no-repeat;
  background-position: -15rem top;
  background-size: 5rem 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite;

  @include break-at-second {
    font-size: 1.3em;
  }
}
